.aboutSection {
    background-color: rgb(245, 244, 244);
    padding-bottom: 10%;
}

.cred {
    font-size: 1rem;
}

.aboutImages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nameOverlay {
    display: none;
}

.teamImage {
    margin: 10px;
    width: calc(20% - 20px);
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid $grey;
    position: relative;
    font-size: 1.2rem;
    padding-bottom: calc(20% - 20px);
    
    img {
        @include position (absolute, 0, 0, 0, 0);
        z-index: 30;
    }
}

.teamImageHover {
    &:hover .skillsOverlay {
        display: none;
    }
    &:hover .nameOverlay {
        display: block;
    }
}

.imageOverlay {
    @include position (absolute, 0, 0, 0, 0);
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.5);
    @include display(flex, center, center);
    flex-direction: column;
    opacity: 1;
    transition: all 0.5s;
    z-index: 40;
}

.hideOverlay {
    opacity: 0;
}


.aboutBlock {
    margin-top: 100px;
    display: none;
    transition: all 0.2s;
}

.showTeam {
    display: block;
    opacity: 1;
}

.martin {
    &:hover  {
        border: 3px solid $orange;
    }
}

.amy {
    &:hover  {
        border: 3px solid $purple;
    }
}

.flavio {
    &:hover  {
        border: 3px solid $yellow;
    }
}

.aliona{
    &:hover  {
        border: 3px solid $green;
    }
}

.janee {
    &:hover {
        border: 3px solid $pink;
    }
}

.vision {
    &:hover  {
        border: 3px solid $grey;
    }
}

.availDates {
    margin-bottom: 0;
}

.availTimes {
    margin-top: 0;
}

// our vision 

.visionBlocks {
    @include display(flex, space-between, initial);
    text-align: center;
}

.visionText {
    margin: 10px;
    width: calc(33.33% - 20px);
}

// bio areas 

.aboutTextFlex {
    display: flex;
}

.leftColumn {
    margin: 20px;
    width: calc(40% - 40px);
}

.aboutTextPara {
    margin: 20px;
    width: calc(60% - 40px);
}

.trained, 
.certed {
    list-style: none;
    font-size: 0.95rem;
    padding: 0;
    li {
        margin: 5px 0;
    }
}

// fade effects
.fade {
    opacity: 0;
}

@media (max-width: 780px) {

    .aboutText {
        h3 {
            font-size: 1.6rem;
            margin-bottom: 0;
        }
    }

    .teamImage {
        width: calc(33.33% - 20px);
        padding-bottom: calc(33.33% - 20px);
    }

    .visionBlocks {
        flex-direction: column;
    }

    .visionText {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .aboutTextFlex {
        flex-direction: column;

    }

    .leftColumn {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        img {
            width: 45%;
            align-self: center;
        }
    }

    .trained,
    .certed {
        text-align: center;
    }

    .aboutTextPara {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 495px) {
    .header {
        background-position: 24% 0%;
    }
    
    .teamImage {
        width: calc(90% - 20px);
        padding-bottom: calc(90% - 20px);
    //     &:hover .skillsOverlay {
    //     display: block;
    // }
}

    .imageOverlay {
        p {
            font-size: 2rem;
        }
    }
}