


.blogHeader {
    height: 40vh;
    background-position: bottom;
    border-bottom: 10px solid $darkGrey;
}

.blogMain {
    background-color: rgb(233, 233, 233);
}

.instaWrap {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.instagram {
    @include display (flex, center, center);
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    
}

@media (max-width: 700px) {
    .instaWrap {
        width: 95%;
        padding-top: 30px;
    }
}
