


.blogHeader {
    height: 40vh;
    background-position: bottom;
    border-bottom: 10px solid $darkGrey;
}

.blogMain {
    background-color: rgb(233, 233, 233);
}

.instagram {
    @include display (flex, center, center);
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    p {
        font-size: 2rem;
        padding: 7%;
    }
}

