.contactSection {
    padding-bottom: 10%;
}

.contactContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// contact info area

.contactInfo {
    margin: 10px;
    width: calc(25% - 20px);
    align-self: center;
    
}

.contactList {
    list-style: none;
    @include display(flex, center, initial);
    flex-wrap: wrap;
    font-size: 1rem;
    p {
        margin: 10px 0;
    }
}

.details {
    width: 100%;
}

.contactList .hours{
    margin: 0;
}

.socialMediaBlock {
    width: 100%;
    @include display(flex, flex-start, initial);
    img {
        height: 50px;
        width: 50px;
    }
}

.contactSocialMedia {
    margin-right: 10px;
    transition: all 0.3s;
    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}



.maps {
    // width: 100%;
    margin: 10px;
    width: calc(35% - 20px);
    @include display (flex, flex-end, initial);
    // iframe {
    //     height: 100%;
    //     width: 100%;
    // }
}

//form 

.form {
    // border: 4px solid $darkGrey;
    align-self: center;
    padding: 20px;
    margin: 10px;
    width: calc(40% - 20px);
    // width: 60%;
    background-color: $formGreen;
    // background-image: url('../assets/nutrition.jpg');
    position: relative;
    &:focus-within input{
        border: 1px solid black;
    }
    &:focus-within textarea {
        border: 1px solid black;
    }
    h4 {
        margin: 0;
        margin-bottom: 10px;
    }
}

// .formOverlay {
//     @include position(absolute, 0, 0, 0, 0);
//     background-color: rgba($color: #ffffff, $alpha: 0.9);
//     z-index: 40;
// }

.formForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    z-index: 50;
}

.formQuestion input,
.formQuestion textarea {
    padding: 7px;
    background-color: $formGreen;
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
}



.formQuestion {
    width: calc(50% - 10px);
    margin-right: 10px;
    input {
        margin-top: 10px;
    }
    textarea {
        height: 100%;
    }
}

.checkBoxes {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.formCheckbox {
    margin: 10px;
    width: calc(50% - 10px);
    // input {
    //     display: none;
    //     &:checked + label {
    //         font-weight: 700;
    //     }
    // }
    // label {
    //     margin-bottom: 10px;
    //     padding-left: 20px;
    //     display: inline-block;
    //     &:after {
    //         content: '';
    //         display: block;
    //         width: 0%;
    //         height: 2px;
    //         background-color: $darkGrey;
    //         transition: all 0.3s;
    //     }
    //     &:hover {
    //         cursor: pointer;
    //         &:after {
    //             content: '';
    //             display: block;
    //             width: 20%;
    //             height: 2px;
    //             background-color: $darkGrey;
    //         }
    //     }
    // }
}

select {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    option {
        width: 100%;
        padding: 20px;
    }
}

.button {
    padding: 15px;
    font-size: 1.2rem;
    background-color: rgb(255, 254, 254);
    border: 2px solid black;
    color: black;
    margin-top: 20px;
    transition: all 0.5s;
    &:hover,
    &:focus {
        background-color: black;
        color: white; 
    }
}

// footer 

.footer {
    background-color: black;
    padding: 20px 0;
    width: 100%;
    .wrapper {
        @include display(flex, space-between, center);
    }
}

.footerContact {
    color: white;
    text-align: center;
}

.footerLogo {
    width: 20%;
}

.footerIcons {
    @include display (flex, flex-end, initial);
    img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
        transition: all 0.3s;
        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }
}

// MEDIA QUERIES

@media (max-width: 1200px) {
    .contactInfo {
        width: calc(50% - 20px);
        text-align: left;
    }

    .maps {
        width: calc(50% - 20px);
        
    }

    .form {
        width: 60%;
        margin-top: 30px;
    }
}

@media (max-width: 780px) {
    .contactInfo,
    .maps,
    .form {
        width: 100%;
        margin: 30px 0 0 0;

    }

    .maps {
        justify-content: center;
    }

    .contactList {
        text-align: center;
    }

    footer {
        .wrapper {
            flex-direction: column;
        }
    }

    .footerLogo {
        order: 3;
        width: 30%;
    }

    .footerIcons {
        order: 1;
    }

    .footerContact {
        order: 2;
    }

    .details:first-of-type {
        margin-bottom: 0;
    }

    .details:nth-of-type(2) {
        margin-top: 0;
    }
}

@media (max-width: 530px) {
    .formForm {
        flex-direction: column;
        align-items: flex-end;
    }

    .formQuestion {
        width: 100%;
        margin-right: 0;
    }

    textarea {
        margin: 10px 0 0 0;
    }

    .checkBoxes {
        flex-direction: column;
    }

    .formCheckbox {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .footerLogo {
        width: 40%;
    }

}