html {
    font-size: 16px;
    letter-spacing: 0.6px;
    font-family: $bodyFont;
}

.wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

img {
    width: 100%;
}

a {
    &:focus {
        outline: 0;
    }
}

input,
textarea {
    border-radius: 0;
}

body {
    position: relative;
    z-index: 10;
}

p {
    line-height: 27px;
}

h2 {
    font-size: 2.7rem;
    padding-top: 12%;
    margin-top: 0;
}

h3 {
    font-size: 1.95rem;
    text-align: center;
}

h4 {
    font-size: 1.4rem;
    text-align: center;
}

.bookNow {
    &:hover {
        transform: scale(1.05);
        transition: all 0.2s;
    }
}

// font styles

.--bodyFont {
    font-family: $bodyFont;
}

.--bold {
    font-weight: 700;
}

.--underline {
    text-decoration: underline;
}

//font colors
.--grey {
    color: $grey;
}

.--darkGrey {
    color: $darkGrey;
}

.--orange {
    color: $orange;
}

.--purple {
    color: $purple;
}

.--yellow {
    color: $yellow;
}

.--green {
    color: $aliona;
}

.--pink {
    color: $tara;
}

// font sizes
.--navSize {
    font-size: 1.2rem;
}

.--headerSize {
    font-size: 3rem;
}

.--dotSize {
    font-size: 1rem;
}

.--bodySize {
    font-size: 1rem;
}

.--subHeaderSize {
    font-size: 2rem;
}

// MEDIA QUERIES

@media (max-width: 1070px) {
    .--bodySize {
        font-size: 1.1rem;
    }

    .wrapper {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .--bodySize {
        font-size: 1rem;
    }

    .wrapper {
        width: 95%;
    }

    p {
        line-height: 23px;
    }

    h2 {
        font-size: 2.4rem;
    }
}

@media (max-width: 710px) {
    h2 {
        text-align: center;
    }
}



