// colour variabls
$grey: #d3d8dc;
$darkGrey: #818181;
$orange: #DA8044;
$purple: #B073DA;
$yellow: rgb(198, 173, 92);
$aliona: #58FF33;
$tenzin: #337DFF;
$flavio: #FFA233;
$tara: #D433FF;
$martin: #FF5B33;
$formGreen: rgb(231, 247, 244);

// font variables 
$bodyFont: "Raleway", sans-serif;

// mixins
@mixin display($type, $justify, $align) {
    display: $type;
    justify-content: $justify;
    align-items: $align;
}

@mixin position($type, $top, $right, $bottom, $left) { 
    position: $type; 
    top: $top; 
    right: $right; 
    bottom: $bottom; 
    left: $left; 
}