// colour variabls
$grey: #8c979e;
$darkGrey: #818181;
$orange: #DA8044;
$purple: #B073DA;
$yellow: #E9CF77;
$green: #91E05C;
$pink: #E889E0;

// font variables 
$bodyFont: "Raleway", sans-serif;

// mixins
@mixin display($type, $justify, $align) {
    display: $type;
    justify-content: $justify;
    align-items: $align;
}

@mixin position($type, $top, $right, $bottom, $left) { 
    position: $type; 
    top: $top; 
    right: $right; 
    bottom: $bottom; 
    left: $left; 
}