article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 16px;
  letter-spacing: 0.6px; }

.wrapper {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto; }

img {
  width: 100%; }

input,
textarea {
  border-radius: 0; }

body {
  position: relative;
  z-index: 10; }

p {
  line-height: 27px; }

h2 {
  font-size: 2.7rem;
  padding-top: 12%;
  margin-top: 0; }

h3 {
  font-size: 1.95rem;
  text-align: center; }

h4 {
  font-size: 1.4rem;
  text-align: center; }

.bookNow:hover {
  transform: scale(1.05);
  transition: all 0.2s; }

.--bodyFont {
  font-family: "Raleway", sans-serif; }

.--bold {
  font-weight: 700; }

.--grey {
  color: #d3d8dc; }

.--darkGrey {
  color: #818181; }

.--orange {
  color: #DA8044; }

.--purple {
  color: #B073DA; }

.--yellow {
  color: #c6ad5c; }

.--green {
  color: #91E05C; }

.--pink {
  color: #E889E0; }

.--navSize {
  font-size: 1.2rem; }

.--headerSize {
  font-size: 3rem; }

.--dotSize {
  font-size: 1rem; }

.--bodySize {
  font-size: 1.25rem; }

.--subHeaderSize {
  font-size: 2rem; }

@media (max-width: 1070px) {
  .--bodySize {
    font-size: 1.1rem; }
  .wrapper {
    width: 90%; } }

@media (max-width: 900px) {
  .--bodySize {
    font-size: 1rem; }
  .wrapper {
    width: 95%; }
  p {
    line-height: 23px; }
  h2 {
    font-size: 2.4rem; } }

@media (max-width: 710px) {
  h2 {
    text-align: center; } }

.header {
  background-image: url("/../assets/background.jpg");
  background-size: cover;
  background-position: 0;
  height: 90vh; }

.headerNav {
  padding: 25px 0 0 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: all 0.5s; }
  .headerNav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.navOverlay {
  background-color: rgba(0, 0, 0, 0.6); }

.logo {
  transition: all 0.5s;
  width: 20%; }
  .logo img {
    width: 100%; }

.headerList {
  list-style: none;
  display: flex;
  justify-content: initial;
  align-items: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  height: 60px;
  opacity: 1;
  transition: all 1s; }
  .headerList li {
    margin: 0 21px;
    height: 100%; }

.navGone {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  z-index: 5; }

.navLink {
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  display: flex;
  justify-content: initial;
  align-items: center;
  transition: all 0.5s; }
  .navLink:hover, .navLink:focus {
    transform: translateY(7px);
    color: #d3d8dc; }

.navLinkScrollUp:hover, .navLinkScrollUp:focus {
  color: #818181; }

.headerText {
  height: 100%; }

.headerTextFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  letter-spacing: 3px;
  color: white; }

.laugh {
  border-left: 0.5px #d3d8dc solid;
  border-right: 0.5px #d3d8dc solid; }

.tagWords {
  padding: 0 20px;
  display: inline-block;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 1s; }

.headerTextEffect {
  transform: translateY(0px);
  opacity: 1; }

.mobileNav {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  padding-top: 95px;
  padding-right: 30px;
  opacity: 0;
  transform: translateX(220px);
  transition: all 1s; }

.overlayButton {
  position: fixed;
  top: -11px;
  right: 0px;
  z-index: 330;
  height: 123px;
  width: 123px;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  background-color: none;
  border-radius: 50%;
  transition: all 1s; }
  .overlayButton:before {
    content: '';
    height: 10px;
    width: 50px;
    background-color: white;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
    transition: all 1s;
    opacity: 1;
    position: relative;
    right: -35px;
    bottom: 38px; }
  .overlayButton:after {
    content: '';
    height: 10px;
    width: 50px;
    background-color: white;
    border-radius: 4px;
    display: block;
    transition: all 1s;
    opacity: 1;
    position: relative;
    right: -35px;
    bottom: 38px; }

.navButtonBlack:before, .navButtonBlack:after {
  background-color: black; }

.closeNavOverlay:before {
  bottom: 28px;
  background-color: white;
  transform: rotate(45deg); }

.closeNavOverlay:after {
  bottom: 48px;
  background-color: white;
  transform: rotate(-45deg); }

@supports (-webkit-overflow-scrolling: touch) {
  header {
    background-attachment: scroll; } }

@media (max-width: 940px) {
  .headerList {
    display: none; }
  .overlayButton {
    display: flex; }
  .headerNav {
    position: static; }
  .mobileNavShow {
    display: block;
    opacity: 1;
    transform: translateX(0);
    pointer-events: all; }
  .mobileList {
    list-style: none;
    font-size: 2rem;
    padding-left: 0; }
    .mobileList li {
      margin-bottom: 40px;
      text-align: right; }
  .navLinkMobile {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
    .navLinkMobile:after {
      content: '';
      width: 0%;
      height: 1px;
      background-color: white;
      display: block;
      transition: all 1s; }
    .navLinkMobile:hover:after, .navLinkMobile:focus:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: white;
      display: block; }
  .logo {
    width: 32%; } }

@media (max-width: 660px) {
  .--headerSize {
    font-size: 2.5rem; }
  .header {
    background-position-x: 19%; }
  .logo {
    width: 44%;
    margin-left: 10px; }
  .overlayButton {
    right: 3px;
    top: 0; } }

@media (max-width: 500px) {
  .--headerSize {
    font-size: 2rem; }
  .header {
    background-position-x: 24%;
    background-position-y: bottom; }
  .headerTextFlex {
    height: 60%; }
  .logo {
    width: 49%; }
  .mobileNav {
    left: 25%; } }

@media (max-width: 400px) {
  .--headerSize {
    font-size: 1.3rem; }
  .header {
    background-position-x: 24%; }
  .mobileNav {
    left: 0; } }

.blogHeader {
  height: 40vh;
  background-position: bottom;
  border-bottom: 10px solid #818181; }

.blogMain {
  background-color: #e9e9e9; }

.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 30px; }

.servicesSection {
  padding-bottom: 10%; }

.servicesContent {
  display: flex;
  flex-direction: column; }

.serviceBlock {
  display: flex; }

.rightalign {
  justify-content: flex-end; }
  .rightalign .serviceName {
    text-align: left; }

.leftalign p {
  text-align: right; }

.serviceImage {
  width: calc(33% - 40px);
  margin: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  padding-bottom: calc(33% - 40px); }
  .serviceImage img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.serviceText {
  width: calc(60% - 40px);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: column; }

@media (max-width: 820px) {
  .serviceDescription {
    margin-top: 0; } }

@media (max-width: 710px) {
  .serviceBlock {
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px; }
  .serviceText {
    width: 100%;
    margin: 0; }
  .leftalign p,
  .rightalign .serviceName,
  .rightalign p {
    text-align: center; }
  .leftalign .serviceText {
    order: 2; }
  .serviceImage {
    width: 40%;
    padding-bottom: 40%; } }

.aboutSection {
  background-color: #f5f4f4;
  padding-bottom: 10%; }

.cred {
  font-size: 1rem; }

.aboutImages {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.nameOverlay {
  display: none; }

.teamImage {
  margin: 10px;
  width: calc(20% - 20px);
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #d3d8dc;
  position: relative;
  font-size: 1.2rem;
  padding-bottom: calc(20% - 20px); }
  .teamImage img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30; }

.teamImageHover:hover .skillsOverlay {
  display: none; }

.teamImageHover:hover .nameOverlay {
  display: block; }

.imageOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: all 0.5s;
  z-index: 40; }

.hideOverlay {
  opacity: 0; }

.aboutBlock {
  margin-top: 100px;
  display: none;
  transition: all 0.2s; }

.showTeam {
  display: block;
  opacity: 1; }

.martin:hover {
  border: 3px solid #DA8044; }

.amy:hover {
  border: 3px solid #B073DA; }

.flavio:hover {
  border: 3px solid #c6ad5c; }

.aliona:hover {
  border: 3px solid #91E05C; }

.janee:hover {
  border: 3px solid #E889E0; }

.vision:hover {
  border: 3px solid #d3d8dc; }

.availDates {
  margin-bottom: 0; }

.availTimes {
  margin-top: 0; }

.visionBlocks {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  text-align: center; }

.visionText {
  margin: 10px;
  width: calc(33.33% - 20px); }

.aboutTextFlex {
  display: flex; }

.leftColumn {
  margin: 20px;
  width: calc(40% - 40px); }

.aboutTextPara {
  margin: 20px;
  width: calc(60% - 40px); }

.trained,
.certed {
  list-style: none;
  font-size: 0.95rem;
  padding: 0; }
  .trained li,
  .certed li {
    margin: 5px 0; }

.fade {
  opacity: 0; }

@media (max-width: 780px) {
  .aboutText h3 {
    font-size: 1.6rem;
    margin-bottom: 0; }
  .teamImage {
    width: calc(33.33% - 20px);
    padding-bottom: calc(33.33% - 20px); }
  .visionBlocks {
    flex-direction: column; }
  .visionText {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .aboutTextFlex {
    flex-direction: column; }
  .leftColumn {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; }
    .leftColumn img {
      width: 45%;
      align-self: center; }
  .trained,
  .certed {
    text-align: center; }
  .aboutTextPara {
    width: 100%;
    margin-left: 0;
    margin-right: 0; } }

@media (max-width: 495px) {
  .header {
    background-position: 24% 0%; }
  .teamImage {
    width: calc(90% - 20px);
    padding-bottom: calc(90% - 20px); }
  .imageOverlay p {
    font-size: 2rem; } }

.contactSection {
  padding-bottom: 10%; }

.contactContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.contactInfo {
  margin: 10px;
  width: calc(25% - 20px);
  align-self: center; }

.hoursTitle {
  font-size: 1.2rem; }

.contactList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-wrap: wrap;
  font-size: 1rem; }
  .contactList p {
    margin: 10px 0; }

.details {
  width: 100%; }

.contactList .hours {
  margin: 0; }

.socialMediaBlock {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: initial; }
  .socialMediaBlock img {
    height: 50px;
    width: 50px; }

.contactSocialMedia {
  margin-right: 10px;
  transition: all 0.3s; }
  .contactSocialMedia:hover, .contactSocialMedia:focus {
    transform: scale(1.1); }

.maps {
  margin: 10px;
  width: calc(35% - 20px);
  display: flex;
  justify-content: flex-end;
  align-items: initial; }

.form {
  align-self: center;
  padding: 20px;
  margin: 10px;
  width: calc(40% - 20px);
  background-color: #e7f7f4;
  position: relative; }
  .form:focus-within input {
    border: 1px solid black; }
  .form:focus-within textarea {
    border: 1px solid black; }
  .form h4 {
    margin: 0;
    margin-bottom: 10px; }

.thankYou {
  text-align: center;
  font-size: 2rem;
  font-weight: bold; }

.formForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  z-index: 50; }

.formQuestion input,
.formQuestion textarea {
  padding: 7px;
  background-color: #e7f7f4;
  border: none;
  width: 100%;
  border-bottom: 1px solid black; }

.formQuestion {
  width: calc(50% - 10px);
  margin-right: 10px; }
  .formQuestion input {
    margin-top: 10px; }
  .formQuestion textarea {
    height: 100%; }

.checkBoxes {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.formCheckbox {
  margin: 10px;
  width: calc(50% - 10px); }

select {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  width: 100%; }
  select option {
    width: 100%;
    padding: 20px; }

.button {
  padding: 15px;
  font-size: 1.2rem;
  background-color: #fffefe;
  border: 2px solid black;
  color: black;
  margin-top: 20px;
  transition: all 0.5s; }
  .button:hover, .button:focus {
    background-color: black;
    color: white; }

.hideForm {
  display: none; }

.footer {
  background-color: black;
  padding: 20px 0;
  width: 100%; }
  .footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.footerContact {
  color: white;
  text-align: center; }

.footerLogo {
  width: 20%; }

.footerIcons {
  display: flex;
  justify-content: flex-end;
  align-items: initial; }
  .footerIcons img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    transition: all 0.3s; }
    .footerIcons img:hover, .footerIcons img:focus {
      transform: scale(1.1); }

@media (max-width: 1200px) {
  .contactInfo {
    width: calc(50% - 20px);
    text-align: left; }
  .maps {
    width: calc(50% - 20px); }
  .form {
    width: 60%;
    margin-top: 30px; } }

@media (max-width: 780px) {
  .contactInfo,
  .maps,
  .form {
    width: 100%;
    margin: 30px 0 0 0; }
  .maps {
    justify-content: center; }
  .contactList {
    text-align: center; }
  footer .wrapper {
    flex-direction: column; }
  .footerLogo {
    order: 3;
    width: 30%; }
  .footerIcons {
    order: 1; }
  .footerContact {
    order: 2; }
  .details:nth-of-type(2) {
    margin-top: 0; } }

@media (max-width: 530px) {
  .formForm {
    flex-direction: column;
    align-items: flex-end; }
  .formQuestion {
    width: 100%;
    margin-right: 0; }
  textarea {
    margin: 10px 0 0 0; }
  .checkBoxes {
    flex-direction: column; }
  .formCheckbox {
    width: 100%;
    margin: 10px 0 0 0; }
  .footerLogo {
    width: 40%; } }
