article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 16px;
  letter-spacing: 0.6px; }

.wrapper {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto; }

img {
  width: 100%; }

body {
  position: relative;
  z-index: 10; }

p {
  line-height: 27px; }

h2 {
  font-size: 2.7rem;
  padding-top: 12%;
  margin-top: 0; }

h3 {
  font-size: 1.95rem;
  text-align: center; }

h4 {
  font-size: 1.4rem;
  text-align: center; }

.--bodyFont {
  font-family: "Raleway", sans-serif; }

.--bold {
  font-weight: 700; }

.--grey {
  color: #ccd6dc; }

.--darkGrey {
  color: #818181; }

.--orange {
  color: #DA8044; }

.--purple {
  color: #B073DA; }

.--yellow {
  color: #c6ad5c; }

.--green {
  color: #91E05C; }

.--pink {
  color: #E889E0; }

.--navSize {
  font-size: 1.2rem; }

.--headerSize {
  font-size: 3rem; }

.--dotSize {
  font-size: 1rem; }

.--bodySize {
  font-size: 1.25rem; }

.--subHeaderSize {
  font-size: 2rem; }

.header {
  background-image: url("/../assets/background.jpg");
  background-size: cover;
  height: 100vh;
  background-position-y: 52%;
  background-attachment: fixed; }

.headerNav {
  padding: 33px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: all 0.5s; }
  .headerNav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.logo {
  transition: all 0.5s;
  width: 20%; }
  .logo img {
    width: 100%; }

.headerList {
  list-style: none;
  display: flex;
  justify-content: initial;
  align-items: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  height: 60px;
  opacity: 1;
  transition: all 1s; }
  .headerList li {
    margin: 0 21px;
    height: 100%; }

.navGone {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  z-index: 5; }

.navLink {
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  display: flex;
  justify-content: initial;
  align-items: center;
  transition: all 0.5s; }
  .navLink:hover {
    transform: translateY(7px);
    color: #ccd6dc; }

.navLinkScrollUp {
  color: black; }
  .navLinkScrollUp:hover {
    color: #818181; }

.headerText {
  height: 100%; }

.headerTextFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  letter-spacing: 3px;
  color: white; }

.laugh {
  border-left: 0.5px #ccd6dc solid;
  border-right: 0.5px #ccd6dc solid; }

.tagWords {
  padding: 0 20px;
  display: inline-block;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 1s; }

.headerTextEffect {
  transform: translateY(0px);
  opacity: 1; }

.servicesSection {
  padding-bottom: 10%; }

.servicesContent {
  display: flex;
  flex-direction: column; }

.serviceBlock {
  display: flex; }

.rightalign {
  justify-content: flex-end; }
  .rightalign .serviceName {
    text-align: left; }

.leftalign p {
  text-align: right; }

.serviceImage {
  width: calc(33% - 40px);
  margin: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .serviceImage img {
    width: 100%;
    height: 100%; }

.serviceText {
  width: calc(60% - 40px);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: column; }

.aboutSection {
  background-color: #f5f4f4;
  padding-bottom: 10%; }

.cred {
  font-size: 1rem; }

.aboutImages {
  width: 100%;
  display: flex; }

.teamImage {
  margin: 10px;
  width: calc(16% - 20px);
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #ccd6dc;
  position: relative; }
  .teamImage img {
    height: 100%;
    width: 100%; }

.imageOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.5s; }

.hideOverlay {
  opacity: 0; }

.aboutBlock {
  margin-top: 100px;
  display: none;
  transition: all 0.2s; }

.showTeam {
  display: block;
  opacity: 1; }

.martin:hover {
  border: 3px solid #DA8044; }

.amy:hover {
  border: 3px solid #B073DA; }

.flavio:hover {
  border: 3px solid #c6ad5c; }

.aliona:hover {
  border: 3px solid #91E05C; }

.janee:hover {
  border: 3px solid #E889E0; }

.vision:hover {
  border: 3px solid #ccd6dc; }

.visionBlocks {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  text-align: center; }

.visionText {
  margin: 10px;
  width: calc(33.33% - 20px); }

.aboutTextFlex {
  display: flex; }

.leftColumn {
  margin: 20px;
  width: calc(40% - 40px); }

.aboutTextPara {
  margin: 20px;
  width: calc(60% - 40px); }

.trained,
.certed {
  list-style: none;
  font-size: 0.95rem;
  padding: 0; }
  .trained li,
  .certed li {
    margin: 5px 0; }

.fade {
  opacity: 0; }

.contactSection {
  padding-bottom: 10%; }

.contactContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.contactInfo {
  margin: 10px;
  width: calc(50% - 20px);
  align-self: center; }

.contactList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-wrap: wrap; }
  .contactList p {
    margin: 10px 0; }

.details {
  width: 100%; }

.socialMediaBlock {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: initial; }
  .socialMediaBlock img {
    height: 50px;
    width: 50px; }

.contactSocialMedia {
  margin-right: 10px;
  transition: all 0.3s; }
  .contactSocialMedia:hover {
    transform: scale(1.1); }

.maps {
  margin: 10px;
  width: calc(50% - 20px);
  display: flex;
  justify-content: flex-end;
  align-items: initial; }

.form {
  margin-top: 40px;
  border: 4px solid #818181;
  align-self: center;
  padding: 20px;
  background-color: #f5f4f4; }

.footer {
  background-color: black;
  padding: 20px 0;
  width: 100%; }
  .footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.footerLogo {
  width: 20%; }

.footerIcons {
  width: 30%;
  display: flex;
  justify-content: initial;
  align-items: initial; }
  .footerIcons img {
    height: 50px;
    width: 50px;
    margin-left: 10px; }
